@import '@styles/base';

.contentWrapper {
  @include directionY;
  padding: 1rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--min-height);
  @include apply-at-md-size {
    min-height: var(--min-height-sm);
  }

  .image {
    width: 7rem;
  }

  .title {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 700;
  }
}
