@import '@styles/base';
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.mainWrap {
  --image-size-sm: 10rem;
  --image-size-md: 12rem;
  @include directionY;
  padding: 0 0 2rem 0;
  min-height: calc(100vh - 3.55rem);
  align-items: center;
  box-sizing: border-box;
  position: relative;
  * {
    box-sizing: border-box;
  }
  .head {
    @include directionY;
    align-items: center;
    gap: 0;
    @include apply-at-sm-size {
      @include directionX;
      gap: 2rem;
      justify-content: center;
    }
    width: 100%;
    .ilustration {
      max-width: 20rem;
      @include apply-at-md-size {
        max-width: 40vw;
      }
    }
    .headerText {
      @include directionX;
      align-items: center;
      font-size: 2.5rem;
      max-width: 15rem;
      @include apply-at-md-size {
        font-size: 3rem;
        max-width: 15rem;
      }
      font-family: 'Lobster', cursive;
    }
  }
  .content {
    display: grid;
    grid-template-columns: repeat(2, minmax(10rem, 10rem));
    @include apply-at-sm-size {
      grid-template-columns: repeat(2, minmax(15rem, 1fr));
    }
    @include apply-at-lg-size {
      grid-template-columns: repeat(3, minmax(15rem, 1fr));
    }
    @include apply-at-xl-size {
      grid-template-columns: repeat(4, minmax(15rem, 1fr));
    }
    gap: 1rem;
    padding-top: 2rem;
  }
  .noData {
    @include directionX;
    align-items: center;
    min-height: 40vh;
  }
}
