@import '@styles/base';
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.mainWrap {
  --image-size-sm: 10rem;
  --image-size-md: 12rem;
  @include directionY;
  padding: 0 0 2rem 0;
  align-items: center;
  min-height: var(--min-height);
  box-sizing: border-box;
  position: relative;
  @include apply-at-md-size {
    min-height: var(--min-height-sm);
  }
  * {
    box-sizing: border-box;
  }
  .head {
    @include directionY;
    align-items: center;
    gap: 0;
    @include apply-at-sm-size {
      @include directionX;
      gap: 2rem;
      justify-content: center;
    }
    width: 100%;
    .ilustration {
      max-width: 20rem;
      @include apply-at-md-size {
        max-width: 40vw;
      }
    }
    .headerText {
      @include directionY;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      h2 {
        font-size: 2.5rem;
        max-width: 15rem;
        font-family: 'Lobster', cursive;
        margin: 0;
      }
      .searchInputWrap {
        @include directionX;
        align-items: center;
        gap: 0.25rem;
        width: 100%;
        position: relative;
        .iconSearch {
          position: absolute;
          left: 0.5rem;
          width: 1rem;
          height: 1rem;
        }
        .searchInput {
          font-size: small;
          background-color: var(--color-bg);
          color: var(--color-text);
          border-radius: 3px;
          padding: 0.5rem;
          padding-left: 2rem;
          width: 100%;
          @include apply-at-md-size {
            width: auto;
          }
          border: none;
          border: 1px solid var(--color-primary);
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
  .content {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(min(10rem, 100%), 10rem));
    gap: 1rem;
    padding: 1rem;
    @include apply-at-md-size {
      padding: 5rem;
    }
  }
  .noData {
    @include directionX;
    align-items: center;
    min-height: 40vh;
  }
}
