@import '@styles/base';
.cardWrap {
  position: relative;
  .card {
    width: 10rem;
    box-shadow: none;
    .logoDelivery {
      @include directionX;
      align-items: center;
      gap: 0.25rem;
      font-size: x-small;
      padding: 0.25rem 0;
      text-transform: capitalize;
      svg {
        width: 1rem;
        height: 1rem;
      }
    }
    .headerText {
      margin: 0;
      font-size: medium;
      font-weight: 400;
    }
    .distance {
      margin: 0;
      opacity: 0.7;
      font-size: small;
    }
    .desc {
      display: -webkit-box;
      margin: 0;
      font-size: small;
      overflow: hidden;
      -webkit-line-clamp: 2;
      @include apply-at-sm-size {
        -webkit-line-clamp: 4;
      }
      -webkit-box-orient: vertical;
    }
    &:hover {
      transform: scale(1.0125, 1.0125);
      cursor: pointer;
      opacity: 0.7;
    }
  }
  .cardAction {
    position: absolute;
    top: 0;
    right: 0;
    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }
  .img {
    height: 8rem;
    object-fit: contain;
  }
  .avatar {
    height: 8rem;
    width: 100%;
    background-color: var(--color-primary);
  }
  .favoritRed {
    color: rgba($color: red, $alpha: 0.6);
  }
}
