@import '@styles/base';
.showPassword,
.nav {
  @include directionX;
  align-items: center;
  padding-top: 0.25rem;
  font-size: small;
  color: var(--color-primary);
}
.nav {
  color: var(--color-text);
  a {
    color: var(--color-primary);
  }
}
.toggleRole {
  button {
    color: var(--color-primary);
    text-transform: capitalize;
    border-color: var(--color-primary);
  }
}
.labelRole {
  margin: 0;
  padding-bottom: 0.25rem;
  font-size: small;
}
.buttonWrap {
  @include directionX;
  justify-content: space-between;
  gap: 0.5rem;
  .buttonSubmit {
    width: 100%;
    background-color: var(--color-primary);
    color: var(--color-bg);
    border-radius: 2.5rem;
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    margin: auto;
    margin-top: 0.75rem;
    box-shadow: none;
    border: none;
    cursor: pointer;
    &:hover {
      transform: scale(1.0125, 1.0125);
    }
    &:disabled {
      background-color: rgba(black, 0.2);
      color: rgba($color: black, $alpha: 0.5);
    }
    &:disabled:hover {
      transform: none;
    }
  }
}
