@import '@styles/base';
.showPassword,
.nav {
  @include directionX;
  align-items: center;
  padding-top: 0.25rem;
  font-size: small;
  color: var(--color-primary);
}
.nav {
  color: var(--color-text);
  a {
    color: var(--color-primary);
  }
}
.toggleRole {
  button {
    color: var(--color-primary);
    text-transform: capitalize;
    border-color: var(--color-primary);
  }
}
.labelRole {
  margin: 0;
  padding-bottom: 0.25rem;
  font-size: small;
}
.buttonWrap {
  @include directionX;
  justify-content: space-between;
  gap: 0.5rem;
  .buttonSubmit {
    width: 100%;
    background-color: var(--color-primary);
    color: var(--color-bg);
    border-radius: 2.5rem;
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    margin: auto;
    margin-top: 0.75rem;
    box-shadow: none;
    border: none;
    cursor: pointer;
    &:hover {
      transform: scale(1.0125, 1.0125);
    }
    &:disabled {
      background-color: rgba(gray, 0.2);
      color: rgba($color: gray, $alpha: 0.5);
    }
    &:disabled:hover {
      transform: none;
    }
  }
}
.input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 1px solid var(--color-text);
  background-color: var(--color-bg);
  color: var(--color-text);
  border-radius: 13px;
  &:focus {
    outline: none;
    border: 1px solid var(--color-primary);
  }
  &:disabled {
    opacity: 0.5;
  }
  input {
    border: none;
    font-size: medium;
    &:focus {
      outline: none;
    }
  }
}

.inputLabel {
  @include directionY;
  width: 100%;
  font-weight: 400;
  font-size: small;
  margin: 0.25rem 0;
}
