@import '@styles/base';

.mainWrap {
  --image-size-sm: 10rem;
  --image-size-md: 12rem;
  @include directionY;
  padding: 5rem;
  min-height: calc(100vh - 3.55rem);
  align-items: center;
  box-sizing: border-box;
  position: relative;
  * {
    box-sizing: border-box;
  }
  .Wrap {
    @include directionY;
    @include apply-at-md-size {
      @include directionX;
    }
    gap: 0.75rem;
    h2 {
      margin: auto;
      font-size: 24px;
      font-weight: 700;
      text-align: center;
    }
    .cardWrap {
      @include directionY;
      gap: 0.5rem;
      .imgWrap {
        height: var(--image-size-sm);
        width: var(--image-size-sm);
        @include apply-at-md-size {
          height: var(--image-size-md);
          width: var(--image-size-md);
        }
        overflow: hidden;
        margin: auto;
        position: relative;
        img {
          object-fit: cover;
          object-position: top;
          height: var(--image-size-sm);
          width: var(--image-size-sm);
          @include apply-at-md-size {
            height: var(--image-size-md);
            width: var(--image-size-md);
          }
        }
        .skeleton {
          position: absolute;
          height: var(--image-size-sm);
          width: var(--image-size-sm);
          @include apply-at-md-size {
            height: var(--image-size-md);
            width: var(--image-size-md);
          }
        }
        .avatar {
          height: var(--image-size-sm);
          width: var(--image-size-sm);
          @include apply-at-md-size {
            height: var(--image-size-md);
            width: var(--image-size-md);
          }
        }
        .buttonEdit {
          position: absolute;
          display: none;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &:hover {
          cursor: pointer;
          transform: scale(1.025, 1.025);
          opacity: 0.7;
        }
        &:hover > .buttonEdit {
          display: block;
        }
      }
      .buttonEditProfile {
        width: 100%;
        background-color: var(--color-bg);
        color: var(--color-primary);
        border: 1px solid var(--color-primary);
        border-radius: 2.5rem;
        padding: 0.5rem 2.5rem 0.5rem 2.5rem;
        margin: auto;
        margin-top: 0.75rem;
        box-shadow: none;
        font-weight: bold;
        cursor: pointer;
        &:hover {
          transform: scale(1.025, 1.025);
        }
      }
    }
  }
  .profileInfo {
    @include directionX;
    align-items: center;
    font-size: 0.75rem;
    font-weight: 500;
    .profileLabel {
      float: left;
      width: 10rem;
    }
    .profileText {
      width: 100%;
    }
  }
}
