@import '@styles/base';

@keyframes img1 {
  0% {
    transform: translateY(0) scaleX(-1);
  }
  50% {
    transform: translateY(1rem) scaleX(-1);
  }
  100% {
    transform: translateY(0) scaleX(-1);
  }
}
@keyframes img2 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(1rem) rotate(180deg);
  }
  100% {
    transform: translateY(0) rotate(360deg);
  }
}

.loaderComponent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: $color-white-fade;
  z-index: 9990;

  .img1,
  .img2 {
    position: absolute;
    padding: 0.75rem;
    object-fit: contain;
  }
  .img1 {
    width: 6rem;
    animation: img1 infinite 0.8s ease-in-out;
  }
  .img2 {
    width: 4.25rem;
    margin-top: 0.8rem;
    animation: img2 infinite 0.8s linear;
  }

  &.showLoader {
    display: flex;
  }
}
